{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <section id="slide-1" class="homeSlide">
        <div class="row" style="margin: 0px !important; height: 100%;">
            <div class="col-sm-12" style="overflow: hidden; padding: 0px; height: 100%;">
                <div class="headerimage" style=" height: 100%; background-size: cover; background-image: url('{{ asset('/bundles/sit/images/webshop.jpg') }}'); width: 100%; background-repeat: no-repeat; background-attachment: fixed; background-position: center;"
                     data-center="background-position: 50% 85%;"
                     data-top-bottom="background-position: 50% 185%;"
                     data-anchor-target="#slide-1">

                    <div style=" height: 100%; background-color: rgba(28,28,28, 0.8); width: 100%; display: flex; align-items: center; margin-top: 20px;">
                        <h1>Webshop</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="slide-2" class="webshop">
        <div class="container fillscreen" style="max-width: 1000px; padding-top: 60px; padding-bottom: 80px;">
            <h2>{% block title %}{% endblock %}</h2>
            {% block text %}{% endblock %}
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts_head %}
    <script src="{{ asset('/bundles/sit/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/bundles/sit/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/bundles/sit/js/skrollr.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('/bundles/sit/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/sit/css/default.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <style>
        .homeSlide{
            height: 400px;
        }

        *, *:before, *:after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        li, ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        h1{
            text-transform: uppercase;
            text-align: center;
            color: #efefef;
            width:100%;
            font-size: 32px;
        }

        #slide-2 h2{
            text-align: left;
            width:100%;
            font-size: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        p{
            margin-top: 12px;
        }

        #slide-2 .container select, #slide-2 .container button{
            margin-bottom: 10px;
            padding: 8px 16px;
            background-color: #f1f1f1;
            border: 1px solid transparent;
        }

        #slide-2 .container select:focus, #slide-2 .container button:focus {
            outline:none;
            border: 1px solid #999;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $( ".fullscreenMaxHeight" ).css('max-height', $( window ).height());
            $( ".fullscreenHeight" ).css('height', $( window ).height());

            // initialize skrollr if the window width is large enough
            if ($(window).width() > 992) {
                skrollr.init({smoothScrolling: false, forceHeight: false});
            }

            var paddT = parseInt($('.fillscreen').css('marginTop').replace("px","")) + parseInt($('.fillscreen').css('marginBottom').replace("px",""));
            $( ".fillscreen" ).css('min-height', $( window ).outerHeight(true) - $( '.footer' ).outerHeight(true) - $( '.credits' ).outerHeight(true) - $('.homeSlide').outerHeight(true) - paddT);
        });
    </script>
{% endblock %}